.card {
  border-radius: 20px;
  border: solid 1px black;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.card-img {
  display: block; /* Ensures the image is on its own line */
  width: 100%; /* Full width of the container */
  height: 200px; /* Fixed height for all images */
  object-fit: cover; /* Covers the frame of the set width/height, could be 'contain' to fit inside the frame */
  border-radius: 8px; /* Optional: adds rounded corners */
  margin-bottom: 1em; /* Adds space below the image */
}

.add-basket {
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.checkout-button {
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-left: 200px;
  cursor: pointer;
}

.quantity-change-button {
  margin-top: 12px;
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 7px;
  padding-top: 1px;
  outline: none;
}

.cart-quantity {
  margin-top: 12px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  text-align: center;
}

.menu-price {
  margin-right: 16px;
}